---
http_interactions:
- request:
    method: get
    uri: https://pkgstore.datahub.io/cryptocurrency/bitcoin/bitcoin_json/data/3d47ebaea5707774cb076c9cd2e0ce8c/bitcoin_json.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Request-Id:
      - 28C75Q8JF0CWRN47
      Last-Modified:
      - Fri, 23 Nov 2018 15:21:23 GMT
      Etag:
      - W/"3d47ebaea5707774cb076c9cd2e0ce8c"
    body:
      encoding: ASCII-8BIT
      string: '[{"activeAddresses": 14, "adjustedTxVolume(USD)": null, "averageDifficulty":
        1.0, "blockCount": 14, "blockSize": 3010, "date": "<%= dates[0] %>", "exchangeVolume(USD)":
        null, "fees": 0.0, "generatedCoins": 700.0, "marketcap(USD)": null, "medianFee":
        null, "medianTxValue(USD)": null, "paymentCount": null, "price(USD)": <%= coins[0] %>,
        "txCount": 0, "txVolume(USD)": null},{"activeAddresses": 61, "adjustedTxVolume(USD)":
        null, "averageDifficulty": 1.0, "blockCount": 61, "blockSize": 13129, "date":
        "<%= dates[1] %>", "exchangeVolume(USD)": null, "fees": 0.0, "generatedCoins":
        3050.0, "marketcap(USD)": null, "medianFee": null, "medianTxValue(USD)": null,
        "paymentCount": null, "price(USD)": <%= coins[1] %>, "txCount": 0, "txVolume(USD)": null},{"activeAddresses":
        93, "adjustedTxVolume(USD)": null, "av[...]
